<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cun.yun.card.cycard.dal.dao.ClickLinkMapper">
  <resultMap id="BaseResultMap" type="cun.yun.card.cycard.dal.model.ClickLink">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cooperative_partner_id" jdbcType="BIGINT" property="cooperativePartnerId" />
    <result column="link_id" jdbcType="BIGINT" property="linkId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />


  </resultMap>
  <sql id="Base_Column_List">
    id, cooperative_partner_id, link_id, type, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from click_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="cun.yun.card.cycard.dal.model.ClickLink">
    insert into click_link (id, cooperative_partner_id, link_id, 
      type, updated_time)
    values (#{id,jdbcType=BIGINT}, #{cooperativePartnerId,jdbcType=BIGINT}, #{linkId,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cun.yun.card.cycard.dal.model.ClickLink">
    insert into click_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cooperativePartnerId != null">
        cooperative_partner_id,
      </if>
      <if test="linkId != null">
        link_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cooperativePartnerId != null">
        #{cooperativePartnerId,jdbcType=BIGINT},
      </if>
      <if test="linkId != null">
        #{linkId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cun.yun.card.cycard.dal.model.ClickLink">
    update click_link
    <set>
      <if test="cooperativePartnerId != null">
        cooperative_partner_id = #{cooperativePartnerId,jdbcType=BIGINT},
      </if>
      <if test="linkId != null">
        link_id = #{linkId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cun.yun.card.cycard.dal.model.ClickLink">
    update click_link
    set cooperative_partner_id = #{cooperativePartnerId,jdbcType=BIGINT},
      link_id = #{linkId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>