<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cun.yun.card.cycard.dal.dao.CooperativePartnerLinkMapper">
  <resultMap id="BaseResultMap" type="cun.yun.card.cycard.dal.model.CooperativePartnerLink">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cooperative_partner_id" jdbcType="BIGINT" property="cooperativePartnerId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="link_type" jdbcType="INTEGER" property="linkType" />
    <result column="is_employ" jdbcType="INTEGER" property="isEmploy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cooperative_partner_id, url, link_type, is_employ, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cooperative_partner_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="cun.yun.card.cycard.dal.model.CooperativePartnerLink">
    insert into cooperative_partner_link (id, cooperative_partner_id, url, 
      link_type, is_employ, updated_time
      )
    values (#{id,jdbcType=BIGINT}, #{cooperativePartnerId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, 
      #{linkType,jdbcType=INTEGER}, #{isEmploy,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cun.yun.card.cycard.dal.model.CooperativePartnerLink">
    insert into cooperative_partner_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cooperativePartnerId != null">
        cooperative_partner_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="linkType != null">
        link_type,
      </if>
      <if test="isEmploy != null">
        is_employ,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cooperativePartnerId != null">
        #{cooperativePartnerId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        #{linkType,jdbcType=INTEGER},
      </if>
      <if test="isEmploy != null">
        #{isEmploy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cun.yun.card.cycard.dal.model.CooperativePartnerLink">
    update cooperative_partner_link
    <set>
      <if test="cooperativePartnerId != null">
        cooperative_partner_id = #{cooperativePartnerId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        link_type = #{linkType,jdbcType=INTEGER},
      </if>
      <if test="isEmploy != null">
        is_employ = #{isEmploy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cun.yun.card.cycard.dal.model.CooperativePartnerLink">
    update cooperative_partner_link
    set cooperative_partner_id = #{cooperativePartnerId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=INTEGER},
      is_employ = #{isEmploy,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="bankLinkList" resultType="cun.yun.card.cycard.dal.dto.BankLinkInfoDato">
      SELECT
          pa.id cooperativePartnerId,
          k.id linkId,
          b.`name`,
          b.iamge,
          b.price,
          p.type,
          b.introduce,
          b.sort,
          k.url,
          (
              SELECT
                  COUNT(1)
              FROM
                  applay_user_info
              WHERE
                  cooperative_partner_id = l.cooperative_partner_id
              AND link_id = k.id
              AND is_employ = 0
	          AND type=1
      ) count
      FROM
          cooperative_partner_link l
      LEFT JOIN cooperative_link_product p ON p.cooperative_partner_link_id = l.id
      AND l.is_employ = 0
      LEFT JOIN bank_link k ON k.id = p.link_id
      AND p.is_employ = 0
      LEFT JOIN bank b ON k.bank_id = b.id
      AND k.is_employ = 0
      LEFT JOIN cooperative_partner pa ON pa.id = l.cooperative_partner_id
      AND b.is_employ = 0
      WHERE
          p.type = 1
      AND l.link_type=#{type}
      AND l.id = #{id}
      AND pa.`code` = #{cooperativePartnerCode}
      AND pa.is_employ = 0
      AND l.product_type=1
      ORDER BY b.sort
  </select>


    <select id="loanLinkList" resultType="cun.yun.card.cycard.dal.dto.LoanLinkInfoDato">
        SELECT
            pa.id cooperativePartnerId,
            lo.`name`,
            k.id linkId,
            k.url,
            lo.image,
            lo.price,
	        p.type,
            lo.limit_min limitMin,
            lo.limit_max limitMax,
            lo.money_rate moneyRate,
            lo.sort,
            (
                SELECT
                    COUNT(1)
                FROM
                    applay_user_info
                WHERE
                    cooperative_partner_id = l.cooperative_partner_id
                AND link_id = k.id
                AND is_employ = 0
                AND type=2
            ) count
        FROM
            cooperative_partner_link l
        LEFT JOIN cooperative_link_product p ON p.cooperative_partner_link_id = l.id
        AND l.is_employ = 0
        LEFT JOIN loan_link k ON k.id = p.link_id
        AND p.is_employ = 0
        LEFT JOIN loan lo ON lo.id = k.loan_id
        AND k.is_employ = 0
        LEFT JOIN cooperative_partner pa ON pa.id = l.cooperative_partner_id
        AND lo.is_employ = 0
        WHERE
            p.type = 2
        AND l.link_type = #{type}
        AND l.id = #{id}
        AND pa.`code` =  #{cooperativePartnerCode}
        AND pa.is_employ = 0
        AND l.product_type=2
        ORDER BY lo.sort
    </select>


    <select id="bondLinkList" resultType="cun.yun.card.cycard.dal.dto.BondLinkInfoDato">
        SELECT
            pa.id cooperativePartnerId,
            k.id linkId,
            b.`name`,
            b.iamge,
            b.price,
            p.type,
            b.introduce,
            b.sort,
            k.url,
            (
                SELECT
                    COUNT(1)
                FROM
                    applay_user_info
                WHERE
                    cooperative_partner_id = l.cooperative_partner_id
                AND link_id = k.id
                AND is_employ = 0
                AND type = 3
            ) count
        FROM
            cooperative_partner_link l
        LEFT JOIN cooperative_link_product p ON p.cooperative_partner_link_id = l.id
        AND l.is_employ = 0
        LEFT JOIN bond_link k ON k.id = p.link_id
        AND p.is_employ = 0
        LEFT JOIN bond b ON k.bank_id = b.id
        AND k.is_employ = 0
        LEFT JOIN cooperative_partner pa ON pa.id = l.cooperative_partner_id
        AND b.is_employ = 0
        WHERE
            p.type = 3
        AND l.link_type = #{type}
        AND l.id = #{id}
        AND pa.`code` = #{cooperativePartnerCode}
        AND pa.is_employ = 0
        AND l.product_type=3
        ORDER BY
            b.sort
    </select>
</mapper>